// -*- closure-template-html -*-

{namespace arblog.view}

{template tagsPage}
    {call base}
        {param title: 'archimag: Tags' /}
        {param disqus: $disqus /}
        {param content}
            <h1>Tags</h1>

            <div class="tag-cloud">
                {foreach $tag in $tags}
                    {sp}<a href="{$tag.href}">{$tag.name}</a>
                {/foreach}
            </div>
        {/param}
    {/call}
{/template}

{template postWithTagPage}
    {call base}
        {param title: 'archimag: ' + $tag /}
        {param disqus: $disqus /}
        {param addHead}
            <link rel="alternate" type="application/rss+xml"
                  title="All articles, tagged with “{$tag}”"
                  href="{$atomFeedHref}" />
        {/param}
        
        {param content}
            <h1><a href="{$atomFeedHref}" class="bigfeed">All articles, tagged with “{$tag}”</a></h1>

            {foreach $post in $posts}
                {call show-blog-post data="$post" /}
            {/foreach}

            {call navigation data="$navigation" /}
        {/param}
    {/call}
{/template}
